<% provide(:title, "New Task") %>

<h1>タスク新規作成</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_tag new_user_task_path do  %>
      <div class="form-group">
        <label>名称</label>
        <input type="name" name="name" class="form-control">
        <label style=" margin-top: 6px;">詳細</label>
        <textarea type="text" class="form-control" rows="5"></textarea>
        <%= link_to "新規登録", "", class:"btn btn-primary btn-lg", style: "margin-top: 10px;" %>
      </div>
    <% end %>
  </div>
</div>